#Database Configuration
spring.datasource.driverClassName=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/patrolhound
spring.datasource.username=USER
spring.datasource.password=PASSWORD

#jOOQ Configuration
jooq.sql.dialect=POSTGRES

spring.datasource.initialize=false
spring.datasource.continueOnError=true